:root {
    --honeydew-color: #f1ffe7;
    --light-green-color: #a9fda6;
    --emerald-color: #44cf6c;
    --seagras-color: #32a287;


}

.quicksand-300 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    background-image: url("../image/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Quicksand", sans-serif;
}

header {
    height: 10vh;
}

p {
    color: white;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

.logo {
    margin: 0;
}

.logo img {
    width: 100px;
    height: 70px;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
}

.register-link {
    margin: 10px;
    max-width: 300px;
    text-align: center;
}

.register-link a {
    text-decoration: none;
    color: var(--emerald-color);
}

.register-link :nth-child(3) {
    margin-top: 10px;
    color: white;
    font-size: x-large;
}

.separador {
    height: 1px;
    background-color: white;
    margin: 10px;
}

.login-form {
    display: block;
    max-width: 400px;

    padding: 20px;
    background-color: #f1ffe7a8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin: 10px auto;

}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

}

input {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.login-button {
    background-color: var(--emerald-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

.login-button:hover {
    background-color: var(--seagras-color);
}